version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      eslint-and-prettier:
        patterns:
          - "@eslint/*"
          - "eslint"
          - "eslint-config-prettier"
          - "prettier"
          - "typescript-eslint"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "ci"
      include: "scope"
