version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    open-pull-requests-limit: 15
    commit-message:
      prefix: "build"
      include: "scope"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    open-pull-requests-limit: 15
    commit-message:
      prefix: "ci"
      include: "scope"
