.github/workflows/codeql-analysis.yml
.github/workflows/main.yml
.github/workflows/nuget-publish.yml
api/
api-usage/
cli/
clidll/
clidll-usage/
doc/
test/
Containerfile
Makefile
Microsoft.Test.Pict.nuspec
pict.sln
pict.spec
pnpm-lock.yaml
*.cmd
*.txt
*.md
