name: Build WebAssembly
on:
  push:
  pull_request:

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    container: emscripten/emsdk:4.0.17

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build
