name: Publish WebAssembly to npm repository
on:
  release:
    types: [published]

jobs:
  publish-wasm:
    runs-on: ubuntu-latest
    container: emscripten/emsdk:4.0.17

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npm publish --tag latest
